.banner {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('../../../assets/banner/marvel_avengers_assemble_banner_by_joshua121penalba_dcbylnr-fullview.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12px;
  }
  
  .banner-overlay h1 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(247, 243, 246);
  }
  
  .banner-overlay p {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  .banner-overlay button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #e09411;
    color: rgb(37, 4, 4);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }



  .shop-btn:hover{
   background-color: rgb(200, 125, 12);
   color: black;
  }
  